.CurrencyHistory {
  display: flex;
  gap: 96px;
  /* width: 500px; */
}

.CurrencyHistory .sticky {
  position: sticky;
  top: 32px;
}

.CurrencyHistory .side .input-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
